@{
    ViewBag.Title = "Home";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<html class="no-js">

  <body>
	

    <section class="intro_section page_mainslider ls ms">
		
		<div class="flexslider">
			<ul class="slides">
				<li>
					<img src="~/fluffypaw/images/slide01.jpg" alt="">
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<div class="slide_description_wrapper">
									<div class="slide_description">
										<div class="intro-layer" data-animation="fadeInLeft">
											<p class="big grey">
												El trato más profesional
												<br>
												<strong>para sus mascotas</strong>
											</p>
										</div>
										<div class="intro-layer topmargin_25" data-animation="fadeInRight">
											<p class="fontsize_18">Nuestras instalaciones y medicos son la mejor opción para darle la mejor atencion a sus mascotas.</p>
										</div>
									</div>
									<!-- eof .slide_description -->
								</div>
								<!-- eof .slide_description_wrapper -->
							</div>
							<!-- eof .col-* -->
						</div>
						<!-- eof .row -->
					</div>
					<!-- eof .container -->
				</li>
				<li>
					<img src="~/fluffypaw/images/slide02.jpg" alt="">
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<div class="slide_description_wrapper">
									<div class="slide_description">
										<div class="intro-layer" data-animation="fadeInLeft">
											<p class="big grey">
												El tratamiento que su
												<br>
												<strong>mascota merece</strong>
											</p>
										</div>
										<div class="intro-layer topmargin_25" data-animation="fadeInRight">
											<p class="fontsize_18">Le ayudamos a que su mascota pueda vivir mas tiempo y con una mejor calidad de vida.</p>
										</div>
									</div>
									<!-- eof .slide_description -->
								</div>
								<!-- eof .slide_description_wrapper -->
							</div>
							<!-- eof .col-* -->
						</div>
						<!-- eof .row -->
					</div>
					<!-- eof .container -->
				</li>
				<li>
					<img src="~/fluffypaw/images/slide03.jpg" alt="">
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<div class="slide_description_wrapper">
									<div class="slide_description">
										<div class="intro-layer" data-animation="fadeInLeft">
											<p class="big grey">
												Guiamos a su mascota a un camino de
												<br>
												<strong>mejora constante</strong>
											</p>
										</div>
										<div class="intro-layer topmargin_25" data-animation="fadeInRight">
											<p class="fontsize_18">Contamos con tratamientos compasivos y de la mayor calidad tecnica.</p>
										</div>
									</div>
									<!-- eof .slide_description -->
								</div>
								<!-- eof .slide_description_wrapper -->
							</div>
							<!-- eof .col-* -->
						</div>
						<!-- eof .row -->
					</div>
					<!-- eof .container -->
				</li>
			</ul>
		</div>
		<!-- eof flexslider -->
	</section>

	<section class="ls section_padding_top_65 section_padding_bottom_65 table_section table_section_md">
		<div class="container">
			<div class="row">
				<div class="col-md-6 text-center">
					<img src="~/fluffypaw/images/dog.png" alt="" class="left-offset">
				</div>
				<div class="col-md-6">
					<h3 class="bottommargin_2">
						Acerca de la
						<strong>Clinica</strong>
					</h3>
					<p class="small-text type2 highlight">FisioVet</p>
					<hr class="divider_1_270 divider_30 left">
					<p class="bottommargin_30">
						Contamos con los mejores profesionales en el area de cirujia y veterinaria
						enfocada en la rehabilitacion y tratamiento de mascotas con el fin de que se
						recuperen de una mejor manera y que puedan manterner una mejor calidad de vida.
					</p>
					<a href="services.html" class="theme_button inverse color1">Ver mas</a>
				</div>
			</div>
		</div>
	</section>
	<section class="ls section_padding_top_110 section_padding_bottom_85 columns_margin_0">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<h2 class="section_header">
						Nuestros
						<strong>Servicios</strong>
					</h2>
					<p class="small-text type2 highlight">Trato compasivo y de Calidad</p>
					<hr class="divider_1_270 topmargin_45 bottommargin_0">
				</div>
			</div>
			<div class="row columns_padding_10">
				<div class="col-md-4 col-sm-6">
					<div class="teaser service-teaser topmargin_60">
						<div class="media-left">
							<div class="teaser_icon highlight size_normal">
								<i class="template-icon-8"></i>
							</div>
						</div>
						<div class="media-body">
							<h4>
								<a href="wellness-care.html">
									Láser
									<strong>Terapéutico</strong>
								</a>
							</h4>
							<p>Nuestros tratamientos incluyen examenes fisicos y tratamiento de lesiones.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="teaser service-teaser topmargin_60">
						<div class="media-left">
							<div class="teaser_icon highlight size_normal">
								<i class="template-icon-5"></i>
							</div>
						</div>
						<div class="media-body">
							<h4>
								<a href="wellness-care.html">
									Cirugia
									<strong>Ortopédica</strong>
								</a>
							</h4>
							<p>Examenes internos para identificar algun problema que su mascota pueda presentar.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="teaser service-teaser topmargin_60">
						<div class="media-left">
							<div class="teaser_icon highlight size_normal">
								<i class="template-icon-7"></i>
							</div>
						</div>
						<div class="media-body">
							<h4>
								<a href="wellness-care.html">
									Magnetoterapia y
									<strong>Electroestimulación</strong>
								</a>
							</h4>
							<p>Recomendaciones nutricionales personalizadas para su mascota.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="teaser service-teaser topmargin_60">
						<div class="media-left">
							<div class="teaser_icon highlight size_normal">
								<i class="template-icon-4"></i>
							</div>
						</div>
						<div class="media-body">
							<h4>
								<a href="wellness-care.html">
									<strong>Ultrasonido</strong>
								</a>
							</h4>
							<p>
								Tratamientos para tratar lesiones cronicas y dolencias para reducir las
								molestias asociadas y permitir sanar de una mejor manera.
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="teaser service-teaser topmargin_60">
						<div class="media-left">
							<div class="teaser_icon highlight size_normal">
								<i class="template-icon-6"></i>
							</div>
						</div>
						<div class="media-body">
							<h4>
								<a href="wellness-care.html">
									Acupuntura y
									<strong>Electroacupuntura veterinaria</strong>
								</a>
							</h4>
							<p>Ponemos al dia a su mascota con las vacunas correspondientes para maneterlo saludable.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="teaser service-teaser topmargin_60">
						<div class="media-left">
							<div class="teaser_icon highlight size_normal">
								<i class="template-icon-9"></i>
							</div>
						</div>
						<div class="media-body">
							<h4>
								<a href="wellness-care.html">
									<strong>Hidroterapia</strong>
								</a>
							</h4>
							<p>Ayudamos a mantener la dentadura de sus mascotas para que se encuentren en la mejor condicion posible.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ls section_padding_top_100 section_padding_bottom_110">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<h2 class="section_header">
						Paquetes de
						<strong>Terapias</strong>
					</h2>
					<p class="small-text type2 highlight">Consulte por nuestros servicios adicionales</p>
					<hr class="divider_1_270 divider_30 topmargin_35">
				</div>
			</div>
			<div class="row">
				<div class="col-md-offset-0 col-md-3 col-sm-offset-2 col-sm-8">
					<ul class="price-table style2 topmargin_30">
						<li class="plan-name bg_teaser after_cover color_bg_1">
							<img src="~/fluffypaw/images/teaser03.jpg" alt="">
							<h3>
								Terapia
								<strong></strong>
							</h3>
						</li>
						<li class="plan-price">

							<span class="highlight">
								<span>₡</span>
								<span>25,000</span>
							</span>


							<p class="small-text type2">Sin descuento</p>
						</li>
						<li class="features-list">
							<ul class="semibold grey">
								<li>1 sesión</li>
								<li>Sin descuento</li>
							</ul>
						</li>
						<li class="call-to-action">
							<a href="services.html" class="theme_button color1">Más información</a>
						</li>
					</ul>
				</div>
				<div class="col-md-offset-0 col-md-3 col-sm-offset-2 col-sm-8">
					<ul class="price-table style2 topmargin_30">
						<li class="plan-name bg_teaser after_cover color_bg_1">
							<img src="~/fluffypaw/images/teaser03.jpg" alt="">
							<h3>
								Terapia
								<strong></strong>
							</h3>
						</li>
						<li class="plan-price">

							<span class="highlight">
								<span>₡</span>
								<span>45,000</span>
							</span>


							<p class="small-text type2">Descuento aplicado</p>
						</li>
						<li class="features-list">
							<ul class="semibold grey">
								<li>2 sesiones</li>
								<li>10% de descuento</li>
							</ul>
						</li>
						<li class="call-to-action">
							<a href="services.html" class="theme_button color1">Más información</a>
						</li>
					</ul>
				</div>
				<div class="col-md-offset-0 col-md-3 col-sm-offset-2 col-sm-8">
					<ul class="price-table style2 topmargin_30">
						<li class="plan-name bg_teaser after_cover color_bg_1">
							<img src="~/fluffypaw/images/teaser03.jpg" alt="">
							<h3>
								Terapia
								<strong></strong>
							</h3>
						</li>
						<li class="plan-price">

							<span class="highlight">
								<span>₡</span>
								<span>106,250</span>
							</span>


							<p class="small-text type2">Descuento aplicado</p>
						</li>
						<li class="features-list">
							<ul class="semibold grey">
								<li>5 sesiones</li>
								<li>15% de descuento</li>
							</ul>
						</li>
						<li class="call-to-action">
							<a href="services.html" class="theme_button color1">Más información</a>
						</li>
					</ul>
				</div>
				<div class="col-md-offset-0 col-md-3 col-sm-offset-2 col-sm-8">
					<ul class="price-table style2 topmargin_30">
						<li class="plan-name bg_teaser after_cover color_bg_1">
							<img src="~/fluffypaw/images/teaser03.jpg" alt="">
							<h3>
								Terapia
								<strong></strong>
							</h3>
						</li>
						<li class="plan-price">

							<span class="highlight">
								<span>₡</span>
								<span>200,000</span>
							</span>


							<p class="small-text type2">Descuento aplicado</p>
						</li>
						<li class="features-list">
							<ul class="semibold grey">
								<li>10 sesiones</li>
								<li>20% de descuento</li>
							</ul>
						</li>
						<li class="call-to-action">
							<a href="services.html" class="theme_button color1">Más información</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<section class="ls section_padding_top_100 section_padding_bottom_110">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<h2 class="section_header">
						Paquetes para
						<strong>caminadora de agua</strong>
					</h2>
					<p class="small-text type2 highlight">Consulte por nuestros servicios adicionales</p>
					<hr class="divider_1_270 divider_30 topmargin_35">
				</div>
			</div>
			<div class="row">
				<div class="col-md-offset-0 col-md-3 col-sm-offset-2 col-sm-8">
					<ul class="price-table style2 topmargin_30">
						<li class="plan-name bg_teaser after_cover color_bg_1">
							<img src="~/fluffypaw/images/teaser03.jpg" alt="">
							<h3>
								Caminadora de agua
								<strong></strong>
							</h3>
						</li>
						<li class="plan-price">

							<span class="highlight">
								<span>₡</span>
								<span>30,000</span>
							</span>


							<p class="small-text type2">Sin descuento</p>
						</li>
						<li class="features-list">
							<ul class="semibold grey">
								<li>1 sesión</li>
								<li>Sin descuento</li>
							</ul>
						</li>
						<li class="call-to-action">
							<a href="services.html" class="theme_button color1">Más información</a>
						</li>
					</ul>
				</div>
				<div class="col-md-offset-0 col-md-3 col-sm-offset-2 col-sm-8">
					<ul class="price-table style2 topmargin_30">
						<li class="plan-name bg_teaser after_cover color_bg_1">
							<img src="~/fluffypaw/images/teaser03.jpg" alt="">
							<h3>
								Caminadora de agua
								<strong></strong>
							</h3>
						</li>
						<li class="plan-price">

							<span class="highlight">
								<span>₡</span>
								<span>54,000</span>
							</span>


							<p class="small-text type2">Descuento aplicado</p>
						</li>
						<li class="features-list">
							<ul class="semibold grey">
								<li>2 sesiones</li>
								<li>10% de descuento</li>
							</ul>
						</li>
						<li class="call-to-action">
							<a href="services.html" class="theme_button color1">Más información</a>
						</li>
					</ul>
				</div>
				<div class="col-md-offset-0 col-md-3 col-sm-offset-2 col-sm-8">
					<ul class="price-table style2 topmargin_30">
						<li class="plan-name bg_teaser after_cover color_bg_1">
							<img src="~/fluffypaw/images/teaser03.jpg" alt="">
							<h3>
								Caminadora de agua
								<strong></strong>
							</h3>
						</li>
						<li class="plan-price">

							<span class="highlight">
								<span>₡</span>
								<span>127,500</span>
							</span>


							<p class="small-text type2">Descuento aplicado</p>
						</li>
						<li class="features-list">
							<ul class="semibold grey">
								<li>5 sesiones</li>
								<li>15% de descuento</li>
							</ul>
						</li>
						<li class="call-to-action">
							<a href="services.html" class="theme_button color1">Más información</a>
						</li>
					</ul>
				</div>
				<div class="col-md-offset-0 col-md-3 col-sm-offset-2 col-sm-8">
					<ul class="price-table style2 topmargin_30">
						<li class="plan-name bg_teaser after_cover color_bg_1">
							<img src="~/fluffypaw/images/teaser03.jpg" alt="">
							<h3>
								Caminadora de agua
								<strong></strong>
							</h3>
						</li>
						<li class="plan-price">

							<span class="highlight">
								<span>₡</span>
								<span>240,000</span>
							</span>


							<p class="small-text type2">Descuento aplicado</p>
						</li>
						<li class="features-list">
							<ul class="semibold grey">
								<li>10 sesiones</li>
								<li>20% de descuento</li>
							</ul>
						</li>
						<li class="call-to-action">
							<a href="~/fluffypaw/templates/services.html" class="theme_button color1">Más información</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>


	<section class="cs background_cover background-section page_testimonials section_padding_top_50 section_padding_bottom_5">
		<div class="container">
			<div class="row">
				<div class="col-md-offset-1 col-md-10 text-center">
					<h2 class="section_header small">
						Opiniones de
						<strong>Nuestros Clientes</strong>
					</h2>
					<div class="owl-carousel testimonials-owl-carousel" data-responsive-lg="1" data-responsive-md="1" data-responsive-sm="1" data-center="true" data-margin="0" data-nav="true">

						<blockquote class="blockquote-big">
							<img src="~/fluffypaw/images/faces/01.jpg" alt="">
							<p>
								Increíble trato, muy eficientes , un alto grado de profesionalismo.
								En pocas palabras el personal en total es EXCELENTE.
								Súper recomendado.
							</p>
							<div class="item-meta">
								<h5>
									Sandra
									<strong>Fonseca</strong>
								</h5>
							</div>
						</blockquote>

						<blockquote class="blockquote-big">
							<img src="~/fluffypaw/images/faces/02.jpg" alt="">
							<p>
								Simplemente no existen palabras que puedan expresar el agradecimiento con la FAMILIA FISIOVET.
								Porque eso es lo que son, una familia de profesionales, con el
								corazón más grande que he visto.
							</p>
							<div class="item-meta">
								<h5>
									Gabriela
									<strong>Barrantes</strong>
								</h5>
							</div>
						</blockquote>

						<blockquote class="blockquote-big">
							<img src="~/fluffypaw/images/faces/03.jpg" alt="">
							<p>
								El mejor lugar para la rehabilitación de los enanitos, son súper profesionales.
								Todo está siempre muy limpio y los tratan excelente.
							</p>
							<div class="item-meta">
								<h5>
									Maria
									<strong>Rivas</strong>
								</h5>
							</div>
						</blockquote>

					</div>
				</div>
			</div>
		</div>
	</section>

	
  </body>

 </html>
