@model IEnumerable<FisioWebFront.Entities.ServiciosObj>
@{
    ViewBag.Title = "VerServicios";
Layout = "~/Views/Shared/_Layout.cshtml";
}


<body>


			<section class="page_breadcrumbs ls ms columns_margin_0">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 ">
							<ol class="breadcrumb">
								<li>
									<a href="index.html">
										Inicio
									</a>
								</li>
								<li class="active">Nuestros Servicios</li>
							</ol>
						</div>
					</div>
				</div>
			</section>


			<section class="ls section_padding_top_110 section_padding_bottom_85 columns_margin_0">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h2 class="section_header">
								Nuestros
								<strong>Servicios</strong>
							</h2>
							<p class="small-text type2 highlight">Trato compasivo y de Calidad</p>
							<hr class="divider_1_270 topmargin_45 bottommargin_0">
						</div>
					</div>
					
					@foreach (var item in Model)
                            {
	
					<div class="col-sm-4">
							<div class="teaser service-teaser topmargin_60">
								<div class="media-left">
									<div class="teaser_icon highlight size_normal">
										<i class="template-icon-4"></i>
									</div>
								</div>
								<div class="media-body">
									<h4>
									<a>
										<strong>	
											@Html.DisplayFor(modelItem => item.servicio_descripcion)
											</strong>
										</a>		
									</h4>
									<p>
									@Html.DisplayFor(modelItem => item.servicio_detalle)
									</p>
								</div>
							</div>
						</div>

			
					 }
				</div>
				
			</section>


		</div>
		<!-- eof #box_wrapper -->
	</div>
	<!-- eof #canvas -->

	<script src="~/fluffypaw/js/compressed.js"></script>
	<script src="~/fluffypaw/js/main.js"></script>
	<script src="~/fluffypaw/js/switcher.js"></script>

</body>

